Repository lig/todo-md: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, check, typing mypy, uv-lock-check

format:
  name: ruff format
  entry: uv run ruff format
  language: system

check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

typing mypy:
  name: mypy
  entry: uv run mypy
  language: system

uv-lock-check:
  name: uv-lock-check
  entry: uv lock --locked
  language: system
  pass_filenames: false

Add `Support & Community` section to README.md
  README.md
Due: none

Do not miss renamed files
  todo-md
Due: none

Fix #3 Rewrite todo-md in Go (#12)
  .gitignore
  .pre-commit-hooks.yaml
  cmd/todo-md/main.go
  go.mod
  go.sum
  internal/app/todomd/args.go
  internal/app/todomd/extract.go
  internal/app/todomd/git.go
  internal/app/todomd/main.go
  internal/app/todomd/todofile.go
  pytodomd/__init__.py
  pytodomd/settings.py
  scripts/build.sh
  tests/samples/001-new-file/a/.gitignore
  tests/samples/003-delete-file/b/.gitignore
  tests/test_todomd.py
  todo-md
  todo-md-updater
  uv.lock
Due: format, check, typing mypy

Update version in the README and pyproject
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Update README.md
  README.md
Due: none

Add some TODOs :)
  TODO.md
  internal/app/todomd/todofile.go
Due: none

Fix #13 Numeric line numbers sort
  TODO.md
  internal/app/todomd/source.go
  internal/app/todomd/todofile.go
  internal/app/todomd/todos.go
  tests/samples/004-numeric-ordering/a/sample.txt
  tests/samples/004-numeric-ordering/b/.gitignore
  tests/test_todomd.py
Due: format, check, typing mypy

Bump version to 2.0.1
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Suppress `bufio.ErrTooLong`
  internal/app/todomd/source.go
Due: none

Bump version to 2.0.2
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Fix todo sorting logic
  internal/app/todomd/todofile.go
Due: none

Bump version to 2.0.3
  README.md
  pyproject.toml
  uv.lock
Due: uv-lock-check

Path conditions:
  format: any of: \.py$
  check: any of: \.py$
  typing mypy: any of: \.py$
  uv-lock-check: any of: pyproject.toml
